In [3]:
import os
import pandas as pd

filepaths = []

for file in os.listdir("ml-25m"):
    filepath = "./ml-25m/" + f"{file}"
    filepaths.append(filepath)


filepaths

['./ml-25m/links.csv',
 './ml-25m/tags.csv',
 './ml-25m/genome-tags.csv',
 './ml-25m/ratings.csv',
 './ml-25m/README.txt',
 './ml-25m/genome-scores.csv',
 './ml-25m/movies.csv']

In [9]:
with open(filepaths[2]) as gentags, open(filepaths[-2]) as genscores:
    df_gentags = pd.read_csv(gentags)
    df_genscores = pd.read_csv(genscores)

(   movieId  tagId  relevance
 0        1      1    0.02875
 1        1      2    0.02375
 2        1      3    0.06250
 3        1      4    0.07575
 4        1      5    0.14075,
    tagId           tag
 0      1           007
 1      2  007 (series)
 2      3  18th century
 3      4         1920s
 4      5         1930s)

In [10]:
df_genscores.describe()

            movieId         tagId     relevance
count  1.558445e+07  1.558445e+07  1.558445e+07
mean   4.602249e+04  5.645000e+02  1.163679e-01
std    5.535221e+04  3.256254e+02  1.544722e-01
min    1.000000e+00  1.000000e+00  2.500000e-04
25%    3.853750e+03  2.827500e+02  2.400000e-02
50%    8.575500e+03  5.645000e+02  5.650000e-02
75%    8.018650e+04  8.462500e+02  1.407500e-01
max    2.064990e+05  1.128000e+03  1.000000e+00

In [12]:
df_genscores['relevance'].max(), df_genscores['relevance'].min()

(1.0, 0.0002499999999999)

relevance has a scale from 0 to 1, maybe discard regarding to relevance at some point ? (too low relevance)