## Skapa gles matris

In [1]:
import pandas as pd

with open ('./ml-25m/ratings.csv') as ratings:
    df_ratings = pd.read_csv(ratings)

df_ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [3]:
df_ratings.drop('timestamp', axis = 1, inplace = True)
df_ratings.head()

   userId  movieId  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5

In [21]:
ratings_count = df_ratings.userId.value_counts()
counts_df = ratings_count.rename_axis('userId').reset_index(name='counts')
counts_df_too_many = counts_df[counts_df['counts'] > 1000]

sum(counts_df_too_many['counts']) #Removed ratings

#df = pd.DataFrame(v)  # Get right columns userId and count
#df

# filter df where count > 1000
# Get user ids
# Drop users on main dataframe

4187357

Remove users that may be robots or too far away from mean ?