## Skapa gles matris

In [1]:
import pandas as pd

with open ('./ml-25m/ratings.csv') as ratings:
    df_ratings = pd.read_csv(ratings)

df_ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [3]:
df_ratings.drop('timestamp', axis = 1, inplace = True)
df_ratings.head()

   userId  movieId  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5