## Recomendations

- How to use tags in similarity ?
- Maybe limit top tag per user ?
- Use regex to sepearate genres "|"

In [15]:
import os
import pandas as pd

files = []
filepaths = []

for file in os.listdir("ml-latest-small"):
    files.append(file)

for file in files:
    filepath = "./ml-latest-small/" + f"{file}"
    filepaths.append(filepath)


with open(filepaths[1]) as tags, open(filepaths[2]) as ratings, open(filepaths[4]) as movies:
    df_tags = pd.read_csv(tags)
    df_ratings = pd.read_csv(ratings)
    df_movies = pd.read_csv(movies)

df_tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [22]:
df_movies.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [27]:
import re

df_movies['genre'] = df_movies['genres'].str.split( "|", expand=False)

df_movies = df_movies.drop('genres', axis = 1)
df_movies.head()

,movieId,title,genre
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]